<!DOCTYPE html>
<html>
    <head>
        <title>CST 336 Lab 4: The Solar System </title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/styles.css"/>
    </head>
    
    <center>
    <img src="/img/solar_system.jpg" alt="The Solar System" width="100%"/>
    
<nav>
    <a href="/">Home</a>
    <a href="/mercury">Mercury</a>
    <a href="/venus">Venus</a>
    <a href="/earth">Earth</a>
    <a href="/mars">Mars</a>
</nav>
</center>

    <body>